header{
    overflow: hidden;
}

header figure{
    position: relative;
    width: 500%;
    margin: 0%;
    animation: 20s slider infinite;
}
header figure img{
    float: right;
    width: 20%;
}
@keyframes slider{
    0%{
        right: 0;
    }
    20%{
        right: 0;
    }
    25%{
        right: 100%;
    }
    45%{
        right: 100%;
    }
    50%{
        right: 200%;
    }
    70%{
        right: 200%;
    }
    75%{
        right: 300%;
    }
    95%{
        right: 300%;
    }
    100%{
        right: 400%;
    }


}